# Mac OS X
*.DS_Store

# Package for OS X
scripts/osx-package/out
scripts/osx-package/package
scripts/osx-package/manticore-*.pkg

# Node.js
node_modules

# Temporary files
var/run/*.pd
var/run/*.pid
net_info.json

# Sublime Text
*.sublime-project
*.sublime-workspace

# libraries
libs/oscpack/bin
libs/oscpack/liboscpack.so.1.1.0

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
