# Mac OS X
*.DS_Store

# Node.js
node_modules

# Sublime Text
*.sublime-project
*.sublime-workspace

# libraries
libs/oscpack/bin
libs/oscpack/liboscpack.so.1.1.0

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
