<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.github.garnierclement.pfe.manticore</string>
  <key>WorkingDirectory</key>
  <string>/Applications/Manticore/projects/manticore/</string>
  <key>ProgramArguments</key>
  <array>
  	<string>/usr/local/bin/node</string>
    <string>app.js</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>../../var/log/stdout.log</string>
  <key>StandardErrorPath</key>
  <string>../../var/log/stderr.log</string>
</dict>
</plist>